# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Django specific
*.log
media/
static/
local_settings.py
db.sqlite3

# virtual environment
.env/
env/
venv/

