{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin pannel</title>
    <link rel="stylesheet" href="{% static 'admin.css' %}">
</head>
<body>

    <section class="container">
        <div>
            <h2 class="admin-pannel">Admin Pannel</h2><hr>
        </div>

        <div class="form-div">
            <form action="">
              <label for="fname">Write your topic</label><br>
              <input type="text" id="fname" name="firstname" placeholder="Your topic.."><br>
            
              <label for="">Selected topic</label><br>
              <div class="selected-topic">
                    <ul>
                        <li>
                            <div class="feature">
                                <p>featured-1</p>
                                <button><img class="delete-btn" src="../media/delete.svg" alt="" srcset=""></button>
                            </div>
                        </li>
                        <li>
                            <div class="feature">
                                <p>featured-1</p>
                                <button><img class="delete-btn" src="../media/delete.svg" alt="" srcset=""></button>
                            </div>
                        </li>
                        <li>
                            <div class="feature">
                                <p>featured-1</p>
                                <button><img class="delete-btn" src="../media/delete.svg" alt="" srcset=""></button>
                            </div>
                        </li>
                        <li>
                            <div class="feature">
                                <p>featured-1</p>
                                <button><img class="delete-btn" src="../media/delete.svg" alt="" srcset=""></button>
                            </div>
                        </li>
                        <li>
                            <div class="feature">
                                <p>featured-1</p>
                                <button><img class="delete-btn" src="../media/delete.svg" alt="" srcset=""></button>
                            </div>
                        </li>
                        <li>
                            <div class="feature">
                                <p>featured-1</p>
                                <button><img class="delete-btn" src="../media/delete.svg" alt="" srcset=""></button>
                            </div>
                        </li>
                        <li>
                            <div class="feature">
                                <p>featured-1</p>
                                <button><img class="delete-btn" src="../media/delete.svg" alt="" srcset=""></button>
                            </div>
                        </li>
                        <li>
                            <div class="feature">
                                <p>featured-1</p>
                                <button><img class="delete-btn" src="../media/delete.svg" alt="" srcset=""></button>
                            </div>
                        </li>
                        <li>
                            <div class="feature">
                                <p>featured-1</p>
                                <button><img class="delete-btn" src="../media/delete.svg" alt="" srcset=""></button>
                            </div>
                        </li>
                            
                    </ul>
              </div><br>

              <label for="tag-name">Write your tag name</label><br>

              <div class="tag-container">
                <input type="text" id="tag-name" name="tag-name" placeholder="Tag name..">
                <button class="tag-btn">Add Tag</button>
              </div><br>
             
          
              <input type="submit" value="Generate">

            </form>
        </div>
    </section>

    
</body>
</html>