{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin pannel</title>
    <link rel="stylesheet" href="{% static 'admin.css' %}">
</head>
<body>
    <div class="loader">
        <img src="/media/setting-loader.png"/>
    </div>
    <section class="container">
        <div>
            <h2 class="admin-pannel">Content Generator</h2><hr>
        </div>

        <div class="form-div">
            <form action="/generate/" method="POST">
              <label for="fname">Write your topic</label><br>
              <input required type="text" id="fname" name="topic" placeholder="Your topic.."><br>
            
              <label for="">Selected Options:</label><br>
              <div class="selected-topic">
                    <ul id="js-option-box">

                            
                    </ul>
              </div><br>

              <label for="tag-name">Write your Option:</label><br>

              <div class="tag-container">
                <input type="text" id="js-option" name="tag-name" placeholder="Tag name..">
                <button id="js-add-button" class="tag-btn">Add Option</button>
              </div><br>
             
          
              <input id="js-submit-btn" type="submit" value="Generate">

            </form>
        </div>
    </section>

    <script>

        var adminScript = {
            count: 0,
            box: undefined,
            init: function (){
                adminScript.box=document.getElementById("js-option-box");

                    document.getElementById("js-add-button").addEventListener("click",function (e){
                        e.preventDefault();
                        var option = document.getElementById("js-option").value;
                        console.log(option)
                        adminScript.count++
                        var html = "<li id='list'>" +
                                        "<div class=\"feature\">" +
                                            "<p>"+option+"</p>" +
                                            "<input type='hidden' value='"+option+"' name='option-"+adminScript.count+"'/>"+
                                            "<button id='js-cross-button-"+adminScript.count+"'>X</button>" +
                                        "</div>" +
                                    "</li>"

                adminScript.appendOption(adminScript.box,html);
            });
            },
            htmlStringToNode: function (htmlString){
                var parentElement = document.createElement("div");
                parentElement.innerHTML = htmlString;
                return parentElement.firstChild;
            },
            appendOption: function (box,html){
                box.appendChild(adminScript.htmlStringToNode(html));
                document.querySelectorAll("[id^='js-cross-button']").forEach(function (node){
                    node.addEventListener('click',function (e){
                        e.preventDefault();
                        var parent = e.target.closest("li");
                        adminScript.box.removeChild(parent)
                    })
                });
            }
        }

        window.onload = function (){
            document.getElementById("js-submit-btn").addEventListener('click',function (){
               document.querySelector(".loader").style.display = "block";
               document.querySelector("html").style.opacity = "0.5";
               document.querySelector(".loader").style.opacity = "1";
            });
            adminScript.init();
        }
    </script>
</body>
</html>